
{% extends 'base.html' %}
{% block title %}
      <title> News|{{title}} </title>
{% endblock %}

{% block content %}
<h3 class=" text-center text-white" >{{title}} NEWS </h3>
<div class="container">
  <div class=" d-flex justify-content-around flex-wrap ">
    {% for category in category %}

    <div class="card m-2">
      <img class="card" src="{{category.article_image}}" alt="Card image cap" size="100px180">
      <div class="card-body">
        <h5 class="card-title">{{category.author}}</h5>
        <p class="card-text">{{category.description}}</p>
        <a href="{{category.url}}">
          <p class="card-text">Click here for more details!</p>
        </a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Publish date:{{category.time_published | strftime }}</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}