
{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block title %}
    News |Home

{% endblock %}

{% block styles %}
<!-- {{super}} -->
<link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}">
{% endblock %}

{% block content %}
    

  
    <main class='container-fluid' >
       <div class='row'>
        <div class='col-4'>
            <h3 class='text-white text-center'>Our News Sources</h3>
            <div class='d-flex justify-content-center flex-column'>
             <ul>
                 {% for mysource in mysources[:50] %}
                 <h4>
                     
                     <a href="{{ mysource.source_url}}">
                         {{mysource.source_name}} 
                     </a>
                 </h4>
                 {% endfor %}
             </ul>
            </div>
            
        </div>
           <div class='col-8'>
            <h1 class='text-center text-white p-2'>Top News Headlines</h1>
            <div class="d-flex justify-content-around container-fluid flex-wrap">
                {{ macros.displaySourcesList(headlines) }}
            </div>
           </div>
           
       </div>

    </main>


{% endblock %}